* {
  padding: 0px;
  margin: 0px;
}

.bordercolor {
  border: 2px blue solid;
}

/*lisa*/
.h-10 {
  height: 3.5em;
}

.h-11 {
  height: 3em;
}

/*lisa main section*/
.input-area {
   position: relative;
 }

 .task-input > span {
   font-weight: 300;
   margin: 0;
   position: absolute;
   color: #1b1a1a;
   font-size: 14px;
   top: 3px;
   left: 10px;
 }
 
 .button-add {
   border: none;
   width: 3em;
   background-color: rgb(158, 169, 226);
 }
 .button-add:hover {
   background-color: cadetblue;
 }
 .button-add:active {
   background-color: #f3f4f6;
   box-shadow: -1px 2px 5px rgba(165, 82, 19, 0.15),
     0px 1px 1px rgba(81, 41, 10, 0.15);
   transform: translateY(0.125rem);
 }
 
 .task-list-container {
   border: 1px solid rgb(37, 69, 99);
   margin-top: 1em;
   position: relative;
 }
 .tab-type {
   display: flex;
   border-bottom: 1px solid rgb(138, 173, 206);
 }
 
 .tab-type div {
   padding: 1em;
   cursor: pointer;
 }
 
 #tab-underline {
   background-color: rgb(148, 143, 216);
   height: 4px !important;
   position: absolute;
   top: 52px;
   left: 0px;
   width: 48px;
   transition: 0.5s;
   padding: 0px;
 }
 
 .task {
   display: flex;
   justify-content: space-between;
   width: 100%;
   border-bottom: 1px solid lightgray;
   position: relative;
 }
 .task span {
   padding: 1em;
 }
 .button-box {
   display: flex;
 }
 
 .button-box button {
   height: 100%;
   border: none;
   width: 5em;
   margin: 0;
   background-color: white;
   transition: 0.5s;
 }
 .button-box button :active {
   position: relative;
   top: 0.5px;
 }
 
 .button-box button:first-child:hover {
   background-color: rgb(150, 199, 82);
 }
 .button-box button:nth-child(2):hover {
   background-color: rgba(207, 86, 181, 0.3);
 }
 
 .fa-check {
   color: rgb(30, 88, 30);
 }
 
 .fa-trash {
   color: rgb(87, 81, 165);
 }
 
 .task-done {
   text-decoration: line-through;
   background-color: rgb(218, 215, 228);
   transition: 0.5s;
 }

 /*lisa main end*/ 









































/* Elvis */
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}