* {
  padding: 0px;
  margin: 0px;
}

.bordercolor {
  border: 2px blue solid;
}

/*lisa*/
.h-10 {
  height: 3.5em;
}

.h-11 {
  height: 3em;
}

/* Elvis */
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: 800;
}